<!DOCTYPE html>
<html lang=en>

    <head>
        <meta charset="UTF-8">
        <title>eCommerce Dashboard - Orders</title>
        <meta name="description" content="Users">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'AdminApp/css/style.css' %}">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light myNavbar">
            <h1 class="navbar-brand navTitle">Dashboard</h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" 
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link myNavLink" href="/admin/orders">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link myNavLink" href="/admin/products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link myNavLink" href="/admin/admins">Administrators</a>
                    </li>
                </ul>
                <form action="/admin/logout" method="post">
                    {% csrf_token %}
                    <button class="logout" type="submit">Logout</button>
                </form>
            </div>
        </nav>
        <div class="container">
            <div class="col-2 inlineBlock"></div>
            <div class="inlineBlock col-6 text-center">
                <h1 class="text-center">Add Administrator</h1>
                <form action="/admin/admin/new/process" method="post">
                    {% csrf_token %}
                    <div class="flashBlock">
                        {% if messages %}
                            <ul class="flashes">
                                {% for message in messages %}
                                    {% if message.extra_tags == "firstName" %}
                                        <li class='inputError'>{{ message }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="input1">
                        <label class="adminLabels">First Name:</label>
                        <input type="text" name="firstName" class="adminInput">
                    </div>
                    <div class="flashBlock">
                        {% if messages %}
                            <ul class="flashes">
                                {% for message in messages %}
                                    {% if message.extra_tags == "lastName" %}
                                        <li class='inputError'>{{ message }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="input2">
                        <label class="adminLabels">Last Name:</label>
                        <input type="text" name="lastName" class="adminInput">
                    </div>
                    <div class="flashBlock">
                        {% if messages %}
                            <ul class="flashes">
                                {% for message in messages %}
                                    {% if message.extra_tags == "email" %}
                                        <li class='inputError'>{{ message }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="input3">
                        <label class="adminLabels">Email:</label>
                        <input type="text" name="email" class="adminInput">
                    </div>
                    <div class="flashBlock">
                        {% if messages %}
                            <ul class="flashes">
                                {% for message in messages %}
                                    {% if message.extra_tags == "password" %}
                                        <li class='inputError'>{{ message }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="input4">
                        <label class="adminLabels">Password:</label>
                        <input type="password" name="password" class="adminInput">
                    </div>
                    <div class="flashBlock">
                        {% if messages %}
                            <ul class="flashes">
                                {% for message in messages %}
                                    {% if message.extra_tags == "passwordRepeat" %}
                                        <li class='inputError'>{{ message }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="input5">
                        <label class="adminLabels">Re-Enter Password:</label>
                        <input type="text" name="passwordRepeat" class="adminInput">
                    </div>
                    <div class="flashBlock">
                        {% if messages %}
                            <ul class="flashes">
                                {% for message in messages %}
                                    {% if message.extra_tags == "accessLevel" %}
                                        <li class='inputError'>{{ message }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="selectBlock">
                        <label>Access Level:</label>
                        <select class="adminSelect" name="accessLevel">
                            <option value="" selected disabled hidden>Choose here</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <button type="submit" class="submitButton">Create</button>
                </form>
                <form action="/admin/admins" method="get">
                    <button type="submit" class="cancelButton">Cancel</button>
                </form>
            </div>
            <div class="col-2 inlineBlock"></div>
        </div>
    </body>

</html>