<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="UTF-8">
    <title>eCommerce Dashboard - Orders</title>
    <meta name="description" content="Users">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'AdminApp/css/style.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light myNavbar">
        <h1 class="navbar-brand navTitle">Dashboard</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="active" id="myActive">
                    <a class="nav-link myNavLink" href="/admin/orders">Orders<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link myNavLink" href="/admin/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link myNavLink" href="/admin/admins">Administrators</a>
                </li>
            </ul>
            <form action="/admin/logout" method="post">
                {% csrf_token %}
                <button class="logout" type="submit">Logout</button>
            </form>
        </div>
    </nav>
    <div class="spacer"></div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">User Name</th>
                <th scope="col">Billing Address</th>
                <th scope="col">Date Submitted</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <th scope="row">{{ order.id }}</th>
                    <td>{{ order.orderer.firstName }} {{ order.orderer.lastName }}</td>
                    <td>{{ order.billingAdd }}</td>
                    <td>{{ order.dateSubmitted }}</td>
                    <td>{{ order.status }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
