<!DOCTYPE html>
<html lang=en>

<head>
        <meta charset="UTF-8">
        <title>eCommerce Clone - Checkout</title>
        <meta name="description" content="Users">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'UIApp/css/style.css' %}">
        <script src= 'https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js'></script>
        <script>
            $(document).ready(function(){
                $("#tog").click(function(){
                    $(".billAdd").toggle();
                });
            });
        </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light myNavbar">
        <h1 class="navbar-brand navTitle">eCommerce Clone</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="active">
                    <a class="nav-link myNavLink" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link myNavLink" href="/checkout">Cart</a>
                </li>
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </nav>
    <div class="container">
        <div class="col-4 inlineBlock"></div>
        <form class="col-4 inlineBlock" action="/checkout/process" method="post">
            {% csrf_token %}
            <div>
                <h3>Shipping Address</h3>
                <label>Address Line 1:</label>
                <input class="checkoutInput" type="text" name="address1Ship">
                <label>Address Line 2:</label>
                <input class="checkoutInput" type="text" name="address2Ship">
                <label>City:</label>
                <input class="checkoutInput" type="text" name="cityShip">
                <label>State:</label>
                <input class="checkoutInput" type="text" name="stateShip">
                <label>Zip Code:</label>
                <input class="checkoutInput" type="text" name="zipShip">
            </div>
            <div>
                <h3>Billing Address</h3>
                <div class="block">
                    <input id="tog" class="billAddBox" type="checkbox" name="billIsSame" value="True"> 
                        Same as Shipping Address
                </div>
                <div class="billAdd">
                    <label>Address Line 1:</label>
                    <input class="checkoutInput" type="text" name="address1Bill">
                    <label>Address Line 2:</label>
                    <input class="checkoutInput" type="text" name="address2Bill">
                    <label>City:</label>
                    <input class="checkoutInput" type="text" name="cityBill">
                    <label>State:</label>
                    <input class="checkoutInput" type="text" name="stateBill">
                    <label>Zip Code:</label>
                    <input class="checkoutInput" type="text" name="zipBill">
                </div>
            </div>
            <button type="submit" class="submitButton">Submit</button>
        </form>
        <div class="col-4 inlineBlock"></div>
    </div>
</body>

</html>