<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="UTF-8">
    <title>eCommerce Clone - Home</title>
    <meta name="description" content="Users">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'UIApp/css/style.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light myNavbar">
        <h1 class="navbar-brand navTitle">eCommerce Clone</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="active">
                    <a class="nav-link myNavLink" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link myNavLink" href="/cart">Cart</a>
                </li>
            </ul>
            <form action="/logout" method="post">
                {% csrf_token %}
                <button class="logout" type="submit">Logout</button>
            </form>
            <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </nav>
    <div class="sideBar">
        <h3>Categories</h3>
        <ul class="catList">
            {% for cat in allCats %}
                <li><a href=/category/{{ cat.id }}>{{ cat.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="mainDiv">
        <h1>Welcome {{ user.firstName }}!</h1>
        <p>
            This is my awesome eCommerce site, enjoy browsing everything I have to offer.
            Feel free to place an order and see it come up in the admin list!
        </p>
    </div>
</body>

</html>